<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            
        </p>
        <p class="mb-1">&copy; 2021 Tienda Virtual Tecla</p>
        

    </div>
</footer>